python-dotenv==1.1.0
python-telegram-bot==22.1
Requests==2.32.3
schedule==1.2.2
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
dotenv==0.9.9
idna==3.10
iniconfig==2.1.0
logging==0.4.9.6
packaging==25.0
pluggy==1.6.0
Pygments==2.19.1
pytest==8.4.0
telegram==0.0.1
typing==3.7.4.3
urllib3==2.4.0